{% extends 'core/base.html' %}
{% load static %}

{% block tittle %}Anime{% endblock %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
        <!-- Start carousel -->
        {% for anime in airing_anime %}
            {% if forloop.counter <= 3 %}
            <div class="hero__items set-bg" data-setbg="{{ anime.banner_url }}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            {% for genre in anime.genres %}
                            <div class="label">{{ genre }}</div>
                            {% endfor %}
                            <div style="background-color: rgba(0, 0, 0, 0.5); padding-left: 10px;">
                                <h2>{{ anime.title }}</h2>
                                <p>{{ anime.desc }}</p>
                            </div>
                            <a href="{% url 'anime_trailer' anime_id=anime.id %}"><span>Watch Trailer</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <!-- End carousel -->
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Airing Now</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start Trendind Now -->
                        {% for anime in airing_anime %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                    data-setbg="{{ anime.image_url }}">
                                    <div class="ep">#{{ anime.rank }}</div>
                                    <div class="comment"><i class="fa fa-comments"></i> {{ anime.score }}</div>
                                    <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        {% for genre in anime.genres %}
                                        <li>{{ genre }}</li>
                                        {% endfor %}
                                    </ul>
                                    <h5><a href="{% url 'anime_details' anime_id=anime.id anime_name=anime.title|slugify %}">{{ anime.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End Trendind Now -->
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Top Views</h5>
                        </div>
                        <div class="filter__gallery">
                            {% for anime in popularity_anime %}
                            <!-- Start Top Views -->
                            <div class="product__sidebar__view__item set-bg mix week years"
                                data-setbg="{{ anime.banner_url }}">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="{% url 'anime_details' anime_id=anime.id anime_name=anime.title|slugify %}">{{ anime.title }}</a></h5>
                            </div>
                            <!-- End Top Views -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}